<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Admissions Student View</title>
    <script src = "script.js"></script>

</head>

<body>
    <div>
        <div class="row justify-content-between" style="margin-left: 25px; margin-right: 25px; margin-top: 5%;">
            <div class="col col-lg-2">
                <div id="profilePic">
                    <center>
                        <img src="/images/profile.png" width="150" height="150"/>
                    </center>
                </div>
                <div id="files">
                    <center> 
                        <a href="<%= student_detail.Transcripts%>">
                            <button type="submit" class="btn btn btn-space btn-outline-primary">Transcripts</button>
                        </a>
                        <a href="<%= student_detail.APScores%>">
                            <button type="button" class="btn btn-space btn-outline-primary">Test Scores</button>
                        </a>
                        <a href="<%= student_detail.LetterOfRec%>">
                            <button type="button" class="btn btn-space btn-outline-primary">Letters of </br> Recommendation</button>
                        </a>
                        <a href="<%= student_detail.Extracurricular%>">
                            <button type="button" class="btn btn-space btn-outline-primary">Extra Curriculars</button>
                        </a>
                        <a href="<%= student_detail.PIQ%>">
                            <button type="button" class="btn btn-space btn-outline-primary">PIQ</button>
                        </a>
                    </center>
                </div>
            </div>
            <div class="col" >
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col" colspan="4"><center>Personal Information</center></th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th colspan="2">Applicant ID</th>
                            <th colspan="2">Submission Date & Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2"><%= student_detail._id%></td>
                            <td colspan="2"><%= student_detail.SubmissionDateTime%></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>First</th>
                            <th>Middle</th>
                            <th>Last</th>
                            <th>Gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= student_detail.FirstName%></td>
                            <td><%= student_detail.MiddleName%></td>
                            <td><%= student_detail.LastName%></td>
                            <td><%= student_detail.Gender%></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Username</th>
                            <th colspan="2">Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2"><%= student_detail.Username%></td>
                            <td colspan="2"><%= student_detail.Password%></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Birthday</th>
                            <th colspan="2">Military Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2"><%= student_detail.Birthday%></td>
                            <td colspan="2"><%= student_detail.MilitaryStatus%></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2"><center>Applicant Contact Information</center></th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>Telephone Number</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= student_detail.Telephone%></td>
                            <td><%= student_detail.StudentEmail%></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2"><%= student_detail.StudentAddress%></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2"><center>Application Information</center></th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th colspan="2">Acceptance Semester</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2"><%= student_detail.Semester%></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Degree Type</th>
                            <th>Major</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= student_detail.DegreeType%></td>
                            <td><%= student_detail.Major%></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2"><center>Most Recent Schooling</center></th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>School Name</th>
                            <th>School Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= student_detail.PreviousSchool%></td>
                            <td><%= student_detail.PreviousSchoolAddress%></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-4 col-md-auto attribute" id="adminButtons">
                <center>
                <p class="ex1">
                    <img src="/images/zoom_logo.png" width="300" height="300"/>
                    <div class="row">
                        <h1>Application Status: </br> <%= student_detail.ApplicationStatus %></h1>
                    </div>
                    <div class="row">
                        <% if(student_detail.ApplicationStatus == "Accepted" || student_detail.Response == "Declined") { %>
                            
                            <%switch(student_detail.Response) {
                                case 'Accepted' : %>
                                    <h3></br>Applicant Accepted </br>
                                        Enrollment Offer</h3>
                                    <% break;
                                
                                case 'Waiting' : %>
                                    <h3></br>Waiting for Applicant Response</h3>
                                    <% break;
                                
                                    
                                case 'Declined' : %>
                                    <h3></br>Applicant Turned Down </br> Enrollment Offer</h3>
                                    <% break;
                                    
                            } %>
                        <% } %>
                    </div>
                </p>
                </br>
                <form action="/AdmisStudentView" method="post"></form>
                    <div id="buttons">
                        <center>
                            <%switch(student_detail.ApplicationStatus) {
                                case 'Pending' : %>
                          
                          
                                    <form action="/student/admisDecisionAccept" method="post">
                                      <button type="submit" id="_id" value="<%= student_detail._id %>" name="_id" class="btn btn-success" >Admit</button>
                                    </form>
              
                                    <form action="/student/admisDecisionDeny" method="post">
                                      <button type="submit" id="_id" value="<%= student_detail._id %>" name="_id" class="btn btn-danger" >Reject</button>
                                    </form>
                                    <form action="/student/admisDecisionWaitlist" method="post">
                                      <button type="submit" id="_id" value="<%= student_detail._id %>" name="_id" class="btn btn-secondary">WaitList</button>
                                    </form>   
                                  
                    
                                    <% break;
                                
                                case 'Waitlist' : %>
                                    <form action="/student/admisDecisionAccept" method="post">
                                      <button type="submit" id="_id" value="<%= student_detail._id %>" name="_id" class="btn btn-success">Admit</button>
                                    </form>
                                    <form action="/student/admisDecisionDeny" method="post">
                                      <button type="submit" id="_id" value="<%= student_detail._id %>" name="_id" class="btn btn-danger">Reject</button>
                                    </form>
                                    <% break;
                            } %>
                        </center>
                    </div>
                </form>
            </center>
            </div>
        </div>
    </div>
</body>

</html>