<!DOCTYPE html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta charset="utf-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <title>Applicant Profiles</title>
      <script src="student.js"></script>
  </head>
  <body>
    <form action="/student" method="get">
        <button onclick="getStudents" class="btn" type="submit">Refresh Applicant Page</button>
    </form>
    <div class="database-tables">
        

        <div class="subheader">
            <h2>Students</h2>
        </div>
        <table id="Students" class="table" border="1" >
           
            
          
                <% if(locals.student) {%>
                    <% for(var i = 0; i < student.length; i++) {%>
                <td>
                    
                    <div>
                        <%= student[i].DegreeType %><br>
                        <center>
                        <div
                        style="width:150px;height:150px;background-color:#A9CF97;border:2px solid #000;border-radius: 25px; margin: 20px;"
                        ></div>
                        <footcaption>
                            <%= student[i].ApplicationStatus %><br>
                            <%= student[i].FirstName %>
                            <%= student[i].MiddleName %>
                            <%= student[i].LastName %><br>
                            <%= student[i]._id %>
                        </footcaption>
                    </center>
                    
                    </div>
                </td>
                <% } %>
                <% } %>
            
           
        </table>
        
        
    </div>
  </body>
</html>