<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="studentDecisionScript.js"></script>
        <link rel="stylesheet" href="/stylesheets/studentView.css">
        <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
    </head>


    <body>
        
        <div class="row justify-content-between" style="margin-left: 25px; margin-right: 25px; margin-top: 5%;">
            <div class="col col-lg-2">
                <div id="profilePic">
                    <center>image here</center>
                </div>
                <div id="files">
                    <center> 
                        <a href="<%= student_detail.Transcripts%>">
                            <button type="button" class="btn btn btn-space btn-outline-primary">Transcripts</button>
                        </a>
                        <a href="<%= student_detail.APScores%>">
                            <button type="button" class="btn btn-space btn-outline-primary">Test Scores</button>
                        </a>
                        <a href="<%= student_detail.LetterOfRec%>">
                            <button type="button" class="btn btn-space btn-outline-primary">Letters of </br> Recommendation</button>
                        </a>
                        <a href="<%= student_detail.Extracurricular%>">
                            <button type="button" class="btn btn-space btn-outline-primary">Extra Curriculars</button>
                        </a>
                        <a href="<%= student_detail.PIQ%>">
                            <button type="button" class="btn btn-space btn-outline-primary">PIQ</button>
                        </a>
                    </center>
                </div>
            </div>
            <div class="col" >
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col" colspan="4"><center>Personal Information</center></th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th colspan="2">Applicant ID</th>
                            <th colspan="2">Submission Date & Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2"><%= student_detail._id%></td>
                            <td colspan="2"><%= student_detail.SubmissionDateTime%></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>First</th>
                            <th>Middle</th>
                            <th>Last</th>
                            <th>Gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= student_detail.FirstName%></td>
                            <td><%= student_detail.MiddleName%></td>
                            <td><%= student_detail.LastName%></td>
                            <td><%= student_detail.Gender%></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Username</th>
                            <th colspan="2">Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2"><%= student_detail.Username%></td>
                            <td colspan="2"><%= student_detail.Password%></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Birthday</th>
                            <th colspan="2">Military Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2"><%= student_detail.Birthday%></td>
                            <td colspan="2"><%= student_detail.MilitaryStatus%></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2"><center>Applicant Contact Information</center></th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>Telephone Number</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= student_detail.Telephone%></td>
                            <td><%= student_detail.StudentEmail%></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2"><%= student_detail.StudentAddress%></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2"><center>Application Information</center></th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th colspan="2">Acceptance Semester</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2"><%= student_detail.Semester%></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Degree Type</th>
                            <th>Major</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= student_detail.DegreeType%></td>
                            <td><%= student_detail.Major%></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2"><center>Most Recent Schooling</center></th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>School Name</th>
                            <th>School Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= student_detail.PreviousSchool%></td>
                            <td><%= student_detail.PreviousSchoolAddress%></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-4 col-md-auto attribute" id="adminButtons">
                <center>
                <p class="ex1">
                    <div class="logo-login">
                        
                            <img src="images/zoom_logo.png" width="200" height="200"/>
                        
                        </div>
                    <div class="row">
                        <h1>Application Status: </br> <%= student_detail.ApplicationStatus %></h1>
                    </div>
                    
                </p>
                </br>
                <form action="/appDecision" method="patch"></form>
                    <% if(student_detail.ApplicationStatus == "Accepted") { %>
                        <%switch(student_detail.Response) {
                            case 'Accepted' : %>
                                <h3>
                                    We look forward to seeing </br> 
                                    you on Campus! Look for </br>
                                    your welcome package in the mail
                                </h3>
                                <% break;
                            
                            case 'Waiting' : %>
                                <div id="buttons">
                                    <center>
                                        <button type="button" id="acceptStu" class="btn btn-success btn-lg btn-block">Accept</button>
                                        
                                        <button type="button" id="rejectStu" class="btn btn-danger btn-lg btn-block">Reject</button>
                                    </center>
                                </div>
                                <% break;
                            
                                
                            case 'Declined' : %>
                                <h3>
                                    Thank you for your interest,</br>
                                     this account will be deactivated </br>
                                     at the end of the enrollment </br>
                                    period 
                                </h3>
                                <% break;
                                
                        } %>
                    <% } %>

                    
                </form>
            </center>
            </div>
        </div>
        
                    <div class="col-3 attribute" id="studentBtn">
                        <div id = "logOut">
                            <center>
                                <button type="button" class="btn btn-primary btn-lg" id="logO">Log Out</button>
                            </center>
                        </div>
                        <div id="logo">
                            <img src="images/zoom_logo.png" width=300 height=300>
                        </div>
                        <div id="buttons">
                            <center>
                                <button class="btn btn-primary" type="submit" id="edit">Edit</button>
                                <button class="btn btn-primary" type="submit" id="save">Save</button>
                            </center>
                        </div>
                        <div id="studentAns">
                            <center>
                                <button type="button" id="acceptStu" class="btn btn-success btn-lg btn-block hidden">Accept</button>
                                <button type="button" id="rejectStu" class="btn btn-danger btn-lg btn-block hidden">Reject</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>